#shibaInu.tab-pane.fade.show
  .row.p-5
    .col-lg-12.d-flex.justify-content-start.align-items-center
      img(src='img/wallet-icons/SHIB.png')
      h2.p-2 Shiba Inu
        span.text-muted &nbsp;(#{wallets[2].symbol})
      h3#shibMarketValue.text-muted
  .row.px-5
    .col-lg-12
      span.text-muted
        | Address : &nbsp;
        | #{wallets[2].address}
  .row.p-5
    .col-lg-6
      .price=(wallets[2].values.at(-1) === 0) ? "0.00" : wallets[2].values.at(-1)
        span#shibValueUSD.text-muted.small
    .col-lg-6.d-flex.justify-content-around.flex-column
      button(disabled=wallets[0].values.at(-1) <= 0 data-bs-toggle='modal' data-bs-target='#buyShibModal').btn.btn-warning.text-black.p-3.w-75
        | Buy
      button(disabled=wallets[2].values.at(-1) <= 0 data-bs-toggle='modal' data-bs-target='#sellShibModal').btn.btn-warning.text-black.p-3.w-75
        | Sell
      #buyShibModal.modal.fade(tabindex='-1' style='display: none;' aria-hidden='true')
        .modal-dialog.modal-dialog-centered
          .modal-content
            form(action='/wallets/SHIB/buy' method='POST')
              .modal-header
                | Buy Shiba Inu
              .modal-body
                .row.mb-3
                  label.col-md-6.col-lg-5.col-form-label Amount (USD)
                  .col-md-6.col-lg-5
                    input#buyShibInputUSD.form-control(name='amount' type='text')
                .row.mb-3
                  label.col-md-6.col-lg-5.col-form-label Amount (SHIB)
                  .col-md-6.col-lg-5
                    input#buyShibInput.form-control.bg-secondary(readonly=true type='text')
              .modal-footer
                button(type='button' data-bs-dismiss='modal').btn.btn-warning Cancel
                button(type='sumbit').btn.btn-warning Confirm
      #sellShibModal.modal.fade(tabindex='-1' style='display: none;' aria-hidden='true')
        .modal-dialog.modal-dialog-centered
          .modal-content
            form(action='/wallets/SHIB/sell' method='POST')
              .modal-header
                | Sell Shiba Inu
              .modal-body
                .row.mb-3
                  label.col-md-6.col-lg-5.col-form-label Amount (SHIB)
                  .col-md-6.col-lg-5
                    input#sellShibInput.form-control(name='amount' type='text')
                .row.mb-3
                  label.col-md-6.col-lg-5.col-form-label Amount (USD)
                  .col-md-6.col-lg-5
                    input#sellShibInputUSD.form-control.bg-secondary(readonly=true type='text')
              .modal-footer
                button(type='button' data-bs-dismiss='modal').btn.btn-warning Cancel
                button(type='sumbit').btn.btn-warning Confirm
  .row
    #shibChart.echart(style='min-height: 400px;')